
<div class="input-group">
  <input type="search" placeholder="Rechercher un employé..." [(ngModel)]="searchEmployee" >
  <img src="https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-22.png" alt="">
</div>
<div class="container">
  <!-- Main Organization Chart -->
  <p-organizationChart [value]="nodes" selectionMode="single" (onNodeSelect)="onNodeSelect($event)" styleClass="p-datatable-gridlines">
    <ng-template let-node pTemplate="person">
      <div *ngIf="isMatch(node, searchEmployee)">
        <div class="custom-node" (mouseenter)="showOverlay($event, node)" (mouseleave)="hideOverlay()">
          <div class="custom-content">
            <img [src]="getImageSrc()" class="custom-image" />
            <div class="data-container">
              <div class="font-bold">{{ node.data.idorg || 'No ID' }}</div> <!-- Display idorg -->
              <div class="bold-title">{{ node.data.nameManager || 'No Manager' }}</div> <!-- Display manager's name -->
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-organizationChart>

  <!-- Secondary Chart for Manager and Employees -->
  <p-organizationChart *ngIf="managerEmployeeNodes.length > 0" [value]="managerEmployeeNodes" styleClass="p-datatable-gridlines">
    <ng-template let-node pTemplate="person">
      <div class="custom-node" cdkDrag>
        <div class="custom-content">
          <img [src]="getImageSrc()" class="custom-image" />
          <div class="data-container">
            <div class="font-bold">{{ node.data.nameEmployee }}</div> <!-- Display employee's name -->
            <div class="bold-title">{{ node.data.positionEmployee || 'No Position' }}</div> <!-- Display position -->
          </div>
        </div>
      </div>
    </ng-template>
  </p-organizationChart>


 
  
  

