.input-group {

  background-color: white;
  height: 1%;
  padding: 0.8rem 0.8rem; /* Increase the padding to make the box bigger */
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin-left: 80rem;
  margin-top: 20px;


}


.input-group input {
  width: 100%; /* Adjust the width as needed */
  padding: 0 .5rem 0 .3rem;
  border: none;
  outline: none;
}


.input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

/* Conteneur principal avec Flexbox */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Hauteur totale de la vue */
  padding: 1rem; /* Ajouter du padding pour l'espacement */
  overflow: auto; /* Permet le défilement si nécessaire */
  border-radius: 1rem;
  
}

/* Styles pour le graphique */
.p-organizationChart {
  width: 100%;
  max-height: 80vh; /* Limite la hauteur du graphique pour s'adapter à l'écran */
  overflow: auto; /* Permet le défilement si le contenu dépasse */
}


/* Styles pour le contenu du noeud */
.custom-content {
  display: flex;
  align-items: center;
}

/* Image dans le noeud */
.custom-image {
  width: 40px;
  height: auto;
  margin-right: 6px;
}

/* Conteneur des données dans le noeud */
.data-container {
  flex-grow: 1;
}

/* Style pour le texte dans le noeud */
.font-bold {
  font-size: 12px;
  font-weight: bold;
  color: #2F58CD;
}

.bold-title {
  font-size: 10px;
  color: #8696FE;
}

/* Style pour les connecteurs de l'organigramme */
.p-organizationChart .p-overlay-connector {
  stroke: black;
  stroke-width: 2px;
}


.organization-chart {
  position: relative;
}

.custom-node {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.custom-node img {
  margin-right: 5px;
}

.overlay {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.overlay p {
  margin: 0;
  padding: 5px 0;
}


/* Exemple de media query pour les écrans plus petits */
@media (max-width: 768px) {
  .p-organizationChart {
    max-height: 60vh; /* Réduit la hauteur du graphique pour les petits écrans */
  }
}
