<div>
    <form (ngSubmit)="onInfoFormSubmit()" autocomplete="off" fxLayout="column" fxLayoutAlign="center center">
      <div fxFlex="100">
        <h2 class="secondary-font text-center mb-3">Détails du profil</h2>
      </div>
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
        <!-- Left Column: Image -->
        <div fxFlex="30" class="px-3 mb-3">
          <app-image-upload></app-image-upload>
        </div>
        <!-- Right Column: Details -->
        <div fxFlex="70" class="px-3 mb-3">
            <div class="profile-detail">
                <p><strong>Nom: </strong>Rachid Belguith</p>
              </div>
          <div class="profile-detail">
            <p><strong>Nom de l'organisation: </strong> MA</p>
          </div>
          <div class="profile-detail">
            <p><strong>Poste: </strong> Manager</p>
          </div>
          <div class="profile-detail">
            <p><strong>Téléphone: </strong> 2312456789</p>
          </div>
          <div class="profile-detail">
            <p><strong>Email: </strong> yosr.sahnoun@intelicia.com</p>
          </div>
        </div>
      </div>
    </form>
  </div>
  