<mat-toolbar id="top-toolbar" class="top-toolbar">

   
  <div fxLayout="row" fxLayoutAlign="end center" class=""> 
  
   
</div>           
</mat-toolbar>  
<mat-toolbar id="main-toolbar" class="mat-elevation-z2" > 
<div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
  <span fxHide="false" fxHide.gt-sm>
    <button mat-icon-button (click)="sidenavToggle()" class="p-0">
      <mat-icon class="mat-icon-lg m-0">menu</mat-icon>
    </button> 
  </span>
  <a class="logo" routerLink="/" ><app-logo></app-logo></a> 
  <div fxShow="false" fxShow.gt-sm class="horizontal-menu" *ngIf="userRole === 'Manager'"  >            
    <app-horizontal-menu [menuParentId]="0"></app-horizontal-menu>
  </div> 
  <div fxShow="false" fxShow.gt-sm class="horizontal-menu" *ngIf="userRole === 'ALLHRLO'">            
    <app-vertical-menu [menuParentId]=""></app-vertical-menu>
</div> 
  <div fxLayout="row" fxLayoutAlign="start center">
   
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/account/profile">
        <mat-icon>person</mat-icon>
        <span> profil</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>se déconecter</span>
      </button>
 
   
    </mat-menu>
    
    <app-notification *ngIf="userRole === 'ALLHRLO'"></app-notification>

  
 
    
    <button mat-icon-button 
    [matBadge]="pendingRequestsCount + pendingRequestsCountRemm > 0 ? pendingRequestsCount + pendingRequestsCountRemm : undefined" 
    matBadgeColor="warn" 
    [matMenuTriggerFor]="notificationMenu" *ngIf="userRole === 'Manager'">
<mat-icon>notifications</mat-icon>
</button>

<mat-menu #notificationMenu="matMenu" class="notification-menu">
<ng-container *ngIf="notifications.length + notificationsRemm.length > 0; else noNotifications">
<button mat-menu-item *ngFor="let notification of notifications" (click)="handleNotificationClick(notification, 'statusRec')">
  <div class="notification-item">
    <p>{{ notification }}</p>
  </div>
</button>
<button mat-menu-item *ngFor="let notification of notificationsRemm" (click)="handleNotificationClick(notification, 'statusRemm')">
  <div class="notification-item">
    <p>{{ notification }}</p>
  </div>
</button>
<button mat-menu-item (click)="clearAllMessages('statusRec')">Clear All Notifications</button>
<button mat-menu-item (click)="clearAllMessages('statusRemm')">Clear All StatusRemm</button>
</ng-container>
<ng-template #noNotifications>
<button mat-menu-item disabled>pas de notifications</button>
</ng-template>
</mat-menu>

    
 


    <button mat-icon-button class="large-icon" [matMenuTriggerFor]="menu" matTooltip="Comptes" class="mx-2" fxShow="false" fxShow.gt-xs="true">
      <mat-icon>list</mat-icon>
    </button> 
     
  </div>   
</div>  
 
</mat-toolbar>