<mat-toolbar id="top-toolbar" class="top-toolbar">

   
  <div fxLayout="row" fxLayoutAlign="end center" class=""> 
  
   
</div>           
</mat-toolbar>  
<mat-toolbar id="main-toolbar" class="mat-elevation-z2" > 
<div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
  <span fxHide="false" fxHide.gt-sm>
    <button mat-icon-button (click)="sidenavToggle()" class="p-0">
      <mat-icon class="mat-icon-lg m-0">menu</mat-icon>
    </button> 
  </span>
  <a class="logo" routerLink="/" ><app-logo></app-logo></a> 
  <div fxShow="false" fxShow.gt-sm class="horizontal-menu" >            
    <app-horizontal-menu [menuParentId]="0"></app-horizontal-menu>
  </div> 
  <div fxShow="false" fxShow.gt-sm class="horizontal-menu" *ngIf="userRole === 'ALLHRLO'">            
    <app-vertical-menu [menuParentId]=""></app-vertical-menu>
</div> 
  <div fxLayout="row" fxLayoutAlign="start center">
   
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>profil</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>se déconecter</span>
      </button>
 
   
    </mat-menu>
    
    <app-notification ></app-notification>

  
    <button mat-icon-button matTooltip="Notifications" [matMenuTriggerFor]="notificationsMenu" class="mx-2" *ngIf="userRole === 'ALLHRLO'">
      <mat-icon class="large-icon">notifications</mat-icon>
      <span *ngIf="unreadNotificationsCount > 0" class="notification-badge">{{ unreadNotificationsCount }}</span>
    </button>
    <mat-menu #notificationsMenu="matMenu">
      <ng-container *ngIf="unreadNotificationsCount > 0; else noNotifications">
        <button mat-menu-item *ngFor="let notification of notificationsManager" (click)="markAsRead(notification)">
                {{ notification.message }}
        </button>
      </ng-container>
      <ng-template #noNotifications>
        <button mat-menu-item disabled>pas de notifications</button>
      </ng-template>
    </mat-menu>


    <button mat-icon-button class="large-icon" [matMenuTriggerFor]="menu" matTooltip="Comptes" class="mx-2" fxShow="false" fxShow.gt-xs="true">
      <mat-icon>list</mat-icon>
    </button> 
     
  </div>   
</div>  
 
</mat-toolbar>